{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <title>Untitled Project</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mainsite/index.css' %}">
    </head>

    <div>
        <h1>Untitiled Project</h1>

        <nav>
            <ul>
                <li> <a href="/writing/">Writing</a></li>
                <li> <a href="/photo/">Photo</a></li>
                <li> <a href="/video/">Video</a></li>
                <li> <a href="/diary/">Diary</a></li>
                <li> <a href="/about/">About</a></li>
            </ul>
        </nav>
    </div>
</html>